---
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import Schools from '@/components/schools.astro'
import Employers from '@/components/employers.astro'
import Skills from '@/components/skills.astro'
---

<DefaultLayout>
  <div class="grid">
    <div>
      <h4>Experience</h4>
      <Employers />
    </div>
    <div>
      <h4>Skills</h4>
      <Skills />

      <h4>Education</h4>
      <Schools />
    </div>
  </div>
</DefaultLayout>