---
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import Employers from '@/components/employers.astro'
---

<DefaultLayout>
  <div class="grid">
    <div>
      <h4>Experience</h4>
      <Employers />
    </div>
    <div>
      <h1>Coming Soon</h1>
    </div>
  </div>
</DefaultLayout>