---
import { getCollection } from 'astro:content';

const skills = await getCollection('skills', ({data}) => !data.hidden);
---

{skills.map(skill =>
  <p>
    <strong>{skill.id}</strong>: {skill.data.skills.join(', ')}
  </p>
)}