{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="row">
  <section class="section">
    <div class="container">
      <h1 class="title">
        BillGarrett.dev
      </h1>
      <p class="subtitle">
        Coming soon
      </p>

      <div class="content">
        {% for sectionpath in section.subsections %}
        {% set child = get_section(path=sectionpath, metadata_only=false) %}
  
        <h2>{{ child.title }}</h2>
  
        {% for page in child.pages %}
  
        {{ macros::experience_header(page=page, content=page.summary) }} 

        {% endfor %}
      
        {% endfor %}
  
      </div>
    </div>
  </section>
</div>

{% endblock content %}