{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="row">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <section class="hero is-info block">
            {% set page = get_page(path="links.md") %}
            <div class="hero-body">
              <h1 class="title">
                {{ page.title }}
              </h1>
              <p class="subtitle">
                <a href="mailto:{{ page.extra.email }}">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-sharp fa-solid fa-envelope"></i>
                    </span>
                    <span>{{ page.extra.email }}</span>
                  </span>
                </a>
              </p>
              {% for link in page.extra.links %}
              <p>
                <a href="{{ link.url }}">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="{{ link.icon }}"></i>
                    </span>
                    <span>{{ link.text }}</span>
                  </span>  
                </a>
              </p>
              {% endfor %}
            </div>
          </section>
          {% set page = get_page(path="skills.md") %}
          <div class="content">
            {{ page.content | safe }}
          </div>
        </div>
        <div class="column">
          {% set experience = get_section(path="experience/_index.md") %}
          {% for page in experience.pages %}
          {{ macros::experience(page=page, details=false) }} 
          {% endfor %}        
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}