{% macro experience(page, details) %}
<div class="block">
    <p class="title is-4">{{ page.extra.title | default(value="No job title") }}</p>
    <p class="subtitle is-6">
        <strong>{{ page.extra.employer | default(value="No job employer")}}</strong> |
        {{ page.extra.duration | default(value="No job duration")}} |
        {{ page.extra.location | default(value="No job location")}}
    </p>
    <div class="content experience-text">
        {{ page.summary | safe}}
    </div>
</div>
{% endmacro experience %}